//定义一个函数
border-1px($color)
  position: relative
  &:before, &:after
    border-top: 1px solid $color
    content: ' '
    display: block
    width: 100%
    position: absolute
    left: 0

  &:before
    top: 0

  &:after
    bottom: 0
